@font-face {
  font-family: "DM sans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/dmsans/dmsans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "DM sans";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/dmsans/dmsans-bold.woff2");
  font-display: swap;
}
